.nav {
    display: flex;
    justify-content: center;
    background : black; 
    color: white; 

    font-family: Arial;
}


body {
    background: #1E1d21;

}



#root {
    background: #1E1d21; 
    height: 100vh;
}