.country {
    display : flex; 
    flex-direction: row;
    padding-left: 10px;
    }
    
 .embed-container {position: relative; padding-bottom: 70%; height: 0; max-width: 100%;} .embed-container iframe, .embed-container object, .embed-container iframe{position: absolute; top: 0; left: 0; width: 100%; height: 100%;} small{position: absolute; z-index: 40; bottom: 0; margin-bottom: -15px;}
 
.cases-color {
    color: rgb(253, 29, 29); 
}

.svg {
    margin-right: 8px;

}

.header {
    font-weight:700 ;
}

.para {
    font-size: 0.9em;
}

.internal-tips {
    padding: 1.4em; 
}

.actual-color {
    width: 1em; 
    height: 1em;
    background: #CB1717;


}

.predicted-color {
    width: 1em; 
    height: 1em;
    background: #FE6161;

}

.predicted-alignment {
    display: flex; 
    flex-direction: column;



}

.predicted-1 {
    display: flex; 
    flex-direction: row;
}

.actual-1 {
    display: flex; 
    flex-direction: row;
}