.App {
  display: grid; 
  grid-template-columns: 49% 49%;
  background: #1E1d21;
  min-height: 100vh;
  color: rgb(170, 170, 170); 
  grid-gap: 1em;
  grid-template-areas:
  'text-section schedule-section'
  'part-1 part-2';

}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}





.tips-section {
 

  color: #666666; 
  text-align: left; 
}

.part-2 {
  display: grid; 
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em;
  grid-area: part-2;
  grid-auto-rows : minmax(40px, 95px); 


}


.article-section {
  grid-area: article;

}

.video-section {
  grid-area: video;

}

.round {
  border-radius: 8px;
  background: #262529; 
  padding: 1.4em; 

}


@media (max-width: 500px) {
  /* .App {
      grid-template-areas:
      'text-section' 
      'schedule-section'
      'part-1'
      'part-2'
;
      grid-template-columns: 100%;
      grid-gap: 0em;

  }
  .schedule-section {
    background: #262529 ;
  }
 
  .maps {
    grid-column: 1 / 6; 
    grid-row: 1 / 5; 
  }


  .video-section {
    display: flex; 
    justify-content: center;
    align-items: center;
    grid-column: 1 / 6; 
    grid-row: 5 / 7;  


  }
  .article-section {
    grid-column: 1 / 6; 
    grid-row: 6 / 7; 


  } */
  .video-section {
  
    grid-auto-columns: inherit; 
  

  }


}

.text-section {
  display: flex; 
  justify-content: flex-start;
  align-items: center;
  grid-area: text-section;
  margin: 0;
}

.schedule-section {
  grid-area: schedule-section;
  padding-right: 10px; 

}



.tips-section {
  grid-column: 1 / 2 ; 
  grid-row : 1 / 4;
}

.alert-section {
  grid-column: 2 / 3 ; 
  grid-row : 1 / 2;
  padding: 10px
}

.country-section {
color: #666666; 
grid-column: 1 / 2; 
grid-row: 4 / 5; 
}

.line-graph {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2 / 3; 
  grid-row: 2 / 4; 
  
  }

  .helpline-section {
    grid-column: 1 / 2; 
    grid-row: 5 / 7; 
 
  }

  .bar-graph {
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100%;
    grid-column: 2 / 3; 
    grid-row: 4 / 7; 
  }

  .schedule-section {
display: flex;
justify-content: flex-end;
align-items: center;
  }

  .part-1 {
    display: grid; 
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0.62em;
    grid-auto-rows : minmax(98px, 100px); 

  }
  
  .maps {
    grid-column: 1 / 6; 
    grid-row: 1 / 5; 
    grid-gap: 24px;
  
 


  }

  .video-section {
    display: flex; 
    justify-content: center;
    align-items: center;
    object-fit: fill;

    grid-column: 1 / 3; 
    grid-row: 5 / 7; 

  }

  .article-section {
  


    grid-column: 3 / 6; 
    grid-row: 5/ 7; 
  }

  .svg-call {
    bottom: 3px; 
    margin : 10px; 
  }

.breakLine {
  margin-top: 2em;
}

.img {

width: 90%;
padding-left: 23px; 






}